
<!DOCTYPE HTML>
<html lang="es-ES">
<head>
        <meta charset="UTF-8">
        <title>calculadora con 2 numeros</title>
</head>
<body>
<H2>Calculadora de dos numeros</H2>
<form action= "#" method="POST">
        <table>
        <tr>
                <td><input type="text" name="numero1"></td>
        </tr>
        <tr>
                <td><input type="text" name="numero2"></td>
        </tr>
        <tr>
                <td> <input type="hidden" name="selector" value="suma"> </td>

</tr>
        <tr>
                <td><input type="submit" value="sumar"></td>
        </tr>
</table>
</form>

<form action= "#" method="POST">
        <table>
        <tr>
                <td><input type="text" name="numero1"></td>
        </tr>
        <tr>
                <td><input type="text" name="numero2"></td>
        </tr>
        <tr>
                <td> <input type="hidden" name="selector" value="resta"> </td>

</tr>
        <tr>
                <td><input type="submit" value="restar"></td>
        </tr>
</table>
</form>

<form action= "#" method="POST">
        <table>
        <tr>
                <td><input type="text" name="numero1"></td>
        </tr>
        <tr>
                <td><input type="text" name="numero2"></td>
        </tr>
        <tr>
                <td> <input type="hidden" name="selector" value="multi"> </td>

</tr>

<tr>
                <td><input type="submit" value="multi"></td>
        </tr>
</table>
</form>




<form action= "#" method="POST">
        <table>
        <tr>
                <td><input type="text" name="numero1"></td>
        </tr>
        <tr>
                <td><input type="text" name="numero2"></td>
        </tr>
        <tr>
                <td> <input type="hidden" name="selector" value="division"> </td>

</tr>

<tr>
                <td><input type="submit" value="division"></td>
        </tr>
</table>
</form>





</body>
</html>


